<!-- Content Heading:  -->
<h1 class="inv-h1"><%= title %></h1>


<!-- Message Block -->
<%# messages() %>

<!-- Inventory Management Display -->
<div id="management-container">
    <ul id="management-list">
        <li><a class="manage-links" href="/inv/add-classification">Add classification</a></li>
        <li><a class="manage-links" href="/inv/add-inventory">Add inventory</a></li>
    </ul>
</div>